p.cite
{
    color: navy; /* Синий цвет текста */
    margin-left: 30px; /* Отступ слева */
    border-left: 5px solid gold; /* Граница слева от текста */
    padding-left: 15px; /* Расстояние от линии до текста */
}
