<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <!--<Appenders>
        &lt;!&ndash; Console Appender &ndash;&gt;
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%highlight{%5p}] %d{dd/M/yy HH:mm:ss} [%t] %logger{36} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        &lt;!&ndash; Log SQL statements &ndash;&gt;
        <Logger name="org.hibernate.SQL" level="info" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        &lt;!&ndash; Log cache &ndash;&gt;
        <Logger name="org.hibernate.cache" level="info" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="org.ehcache" level="info" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <Root level="error">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>-->
    <!-- Properties section -->
    <Properties>
        <Property name="parsing_all">logs\parsing-all.log</Property>
        <Property name="parsing_errors">logs\parsing-errors.log</Property>
        <Property name="parsing_trace">logs\parsing-trace.log</Property>

        <Property name="sql_all">logs\sql-all.log</Property>
        <Property name="sql_errors">logs\sql-errors.log</Property>
        <Property name="sql_info">logs\sql-info.log</Property>
    </Properties>

    <!-- Appenders section -->
    <Appenders>

        <!-- console appender -->
        <Console name="console_appender_all" target="SYSTEM_OUT">
            <!--%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - -->
            <PatternLayout pattern="[%highlight{%5p}] %d{dd/M/yy HH:mm:ss} [%t] %logger{36} - %msg%n" />
        </Console>

        <!-- File appender for com.sschudakov.words.parsing all-->
        <RollingFile name="parsing_appender_all" fileName="${parsing_all}"
                     filePattern="logs/arch/arch_parsing_all-%d{MM-dd-yyyy_HH}-%i.gz"
                     append="true">
            <PatternLayout>
                <Pattern>%d [%marker] %p %c{1.} [%t] %m %ex%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="6" modulate="true"/>
                <SizeBasedTriggeringPolicy size="1000000"/>
            </Policies>

        </RollingFile>

        <!-- File appender of for com.sschudakov.words.parsing errors -->
        <RollingFile name="parsing_appender_errors" fileName="${parsing_errors}"
                     filePattern="logs/arch/arch_parsing_errors-%d{MM-dd-yyyy_HH}-%i.gz"
                     append="true">
            <PatternLayout>
                <Pattern>%d [%marker] %p %c{1.} [%t] %m %ex%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="1000000"/>
            </Policies>
        </RollingFile>

        <RollingFile name="parsing_appender_trace" fileName="${parsing_trace}"
                     filePattern="logs/arch/arch_parsing_trace-%d{MM-dd-yyyy_HH}-%i.gz"
                     append="true">
            <PatternLayout>
                <Pattern>%d [%marker] %p %c{1.} [%t] %m %ex%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="1000000"/>
            </Policies>
        </RollingFile>


        <!-- File appender for com.sschudakov.sql logger all-->
        <RollingFile name="sql_appender_all" fileName="${sql_all}"
                     filePattern="logs/arch/arch_sql_all-%d{MM-dd-yyyy_HH}-%i.gz"
                     append="true">
            <PatternLayout>
                <Pattern>%d [%marker] %p %c{1.} [%t] %m %ex%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="6" modulate="true"/>
                <SizeBasedTriggeringPolicy size="1000000"/>
            </Policies>
        </RollingFile>

        <!-- File appender of for com.sschudakov.sql logger errors -->
        <RollingFile name="sql_appender_errors" fileName="${sql_errors}"
                     filePattern="logs/arch/arch_sql_errors-%d{MM-dd-yyyy_HH}-%i.gz"
                     append="true">
            <PatternLayout>
                <Pattern>%d [%marker] %p %c{1.} [%t] %m %ex%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="1000000"/>
            </Policies>
        </RollingFile>
        <!-- File appender of for com.sschudakov.sql logger info -->
        <RollingFile name="sql_appender_info" fileName="${sql_info}"
                     filePattern="logs/arch/arch_sql_trace-%d{MM-dd-yyyy_HH}-%i.gz"
                     append="true">
            <PatternLayout>
                <Pattern>%d [%marker] %p %c{1.} [%t] %m %ex%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="1000000"/>
            </Policies>
        </RollingFile>

    </Appenders>

    <!-- Loggers section -->
    <Loggers>

        <!-- Root logger -->
        <Root level="INFO">
            <AppenderRef ref="console_appender_all"/>
        </Root>
        <!-- com.sschudakov.words.parsing logger -->
        <Logger name="com.sschudakov.parsing_logger" additivity="TRUE" level="ALL">
            <AppenderRef ref="parsing_appender_all" level="ALL"/>
            <AppenderRef ref="parsing_appender_errors" level="ERROR"/>
            <AppenderRef ref="parsing_appender_trace" level="TRACE"/>
        </Logger>
        <!-- com.sschudakov.words.parsing logger -->
        <Logger name="com.sschudakov.sql_logger" additivity="TRUE" level="ALL">
            <AppenderRef ref="sql_appender_all" level="ALL"/>
            <AppenderRef ref="sql_appender_errors" level="ERROR"/>
            <AppenderRef ref="sql_appender_info" level="INFO"/>
        </Logger>


        <!-- Log SQL statements -->
        <Logger name="org.hibernate.SQL" level="info" additivity="false">
            <AppenderRef ref="console_appender_all" />
        </Logger>
        <!-- Log cache -->
        <Logger name="org.hibernate.cache" level="info" additivity="false">
            <AppenderRef ref="console_appender_all" />
        </Logger>
        <Logger name="org.ehcache" level="info" additivity="false">
            <AppenderRef ref="console_appender_all" />
        </Logger>
    </Loggers>

</Configuration>