<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="index"
      lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
    </head>
    <body>
        <th:block layout:fragment="page_content">
            <div class="container login">
                <form th:action="@{/loginPage}" method="POST" th:object="${user}" autocomplete="off">

                    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                         class="validation-message alert alert-danger" role="alert"></div>

                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                         class="validation-message alert alert-danger" role="alert"></div>

                    <input name="name" type="text" th:placeholder="#{login_placeholder_text}" class="login-input" autocomplete="off"/>
                    <input name="password" type="password" th:placeholder="#{password_password_text}" class="login-input" autocomplete="off"/>

                    <input type="submit" class="btn green button-sign-in" th:value="#{sign_in_button_text}"/>
                    <a class="btn green button-sign-up" href="/registration" th:text="#{sign_up_button_text}">Sign up</a>
                </form>
            </div>
        </th:block>
    </body>
</html>