<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="index"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<th:block layout:fragment="page_content">
    <div class="container login">
        <form autocomplete="off" action="#" th:action="@{/registration}"
              th:object="${user}" method="POST">

            <!--<div th:if="${confirmationMessage}" class="alert alert-success"
                 role="alert" th:text="#{user_registration_confirm_message}"></div>

            <div th:if="${nameErrorMessage}" class="alert alert-danger" role="alert"
                 th:text="#{user_already_exists}"></div>-->


            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                 class="validation-message alert alert-danger" role="alert"></div>

            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                 class="validation-message alert alert-danger" role="alert"></div>

            <div class="login-header">Registration form</div>

            <div class="form-group input-group has-feedback">
                <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                       class="validation-message"></label>

                <span class="input-group-addon">
				<span class="glyphicon glyphicon-user"></span>
				</span>

                <input type="text" th:field="*{name}"
                       placeholder="Name" class="login-input" required/>
                <span class="glyphicon form-control-feedback"
                      aria-hidden="true"></span>
            </div>

            <div class="form-group input-group has-feedback">
			  <span class="input-group-addon">
				<span class="glyphicon glyphicon-user"></span>
			  </span>
                <input type="password" th:field="*{password}"
                       placeholder="Password" class="login-input" required/>
                <span class="glyphicon form-control-feedback"
                      aria-hidden="true"></span>
            </div>

            <div class="form-group input-group has-feedback">
				  <span class="input-group-addon">
					<span class="glyphicon glyphicon-envelope"></span>
				  </span>
                <input type="email" th:field="*{email}"
                       placeholder="Email Address" class="login-input"
                       data-error="This email address is invalid" required/>
                <span class="glyphicon form-control-feedback"
                      aria-hidden="true"></span>

            </div>

            <button type="submit" class="btn green button-sign-in" th:text="#{register_button_text}">
                Register
            </button>
            <a class="btn green button-sign-up" href="/loginPage" th:text="#{back_to_login_page_button_text}">Back to login</a>
        </form>
    </div>
</th:block>
</body>
</html>