<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="index"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>words</title>
</head>
<body>
<th:block layout:fragment="page_content">

    <nav>
        <a href="/words" th:text="#{words_reference_text}">Words</a>
        <a href="/collections" th:text="#{collection_reference_text}">Collection</a>
    </nav>

    <div class="container">

        <form th:action="@{/languages/languageInfo}" method="get">

            <select name="languageName" class="languages-list-big">
                <div th:each="language : ${languages}">
                    <option
                            th:value="${language.getName()}"
                            th:text="${language.getName()}"
                    >
                    </option>
                </div>
            </select>

            <input type="submit" class="btn green button-input-big" th:value="#{search_button_text}"/>
        </form>

    </div>

    <div class="container" th:if="${words}">

        <table class="words-table">
            <tr id="first-line" class="rainbow"><td>Word</td><td>Meanings</td></tr>
            <div th:each="word : ${words}">
                <tr>
                    <td th:text="${word.getCapitalizedValue()}"></td>
                    <td>
                        <text th:text="${meanings.get(word)}"></text>
                    </td>
                </tr>
            </div>
        </table>

        <script>
            $('#first-line').css('background-position', (shift-200) + 'px 0px');
        </script>
    </div>
</th:block>
</body>
</html>