<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="index"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>words</title>
</head>
<body>
<th:block layout:fragment="page_content">
    <nav>
        <a href="/collections" th:text="#{collection_reference_text}">Collection</a>
        <a href="/languages" th:text="#{languages_reference_text}">Languages</a>
    </nav>
    <div class="container">
        <form th:action="@{/words/wordInfo}" method="get" id="words-form">
            <select name="language" class="languages-list-small" id="languages-select">
                <div th:each="language : ${languages}">
                    <option th:value="${language.getName()}" th:text="${language.getName()}"></option>
                </div>
            </select>
            <div class="input-container">
                <input type="text" th:placeholder="#{word_value_placeholder}" name="value" id="input-word" class="word-input-big" autocomplete="off"/>
                <div class="hints-container">
                    <ul id="hints"></ul>
                </div>
            </div>
            <input type="submit" class="btn green button-input-big" th:value="#{search_button_text}"/>
        </form>
        <script>
            var hints = $('#hints');
            function refresh() {
                $.get("/api/words/get_by_prefix",
                    {prefix: $("#input-word").val()},
                    function (data, status) {
                        hints.html('');
                        data.forEach(function (word) {
                            hints.append('<li onclick=\"'+
                                'selectItemByValue(document.getElementById(\'languages-select\'),\''+word.language.name+'\');' +
                                'setTimeout(function(){$(\'#words-form\').submit();},100);'+
                                '$(\'#input-word\').val(\''+word.value+'\');hints.html(\'\');\">'+
                                word.language.name +
                                ':' +
                                word.capitalizedValue +
                                '</li>');
                        });
                    });
            }
            $("#input-word").keyup(function (e) {
                refresh();
            });
        </script>
    </div>
    <div class="container" th:if="${word}">
        <div class="rainbow words-head" id="words-head">
            <a class="word-title" th:text="${word.getCapitalizedValue()}">Man</a>
            <div class="cell">
                <a th:text="${word.getLanguage().getName()}">Language</a><br>
                <a th:text="${word.getWordClass().getWordClassName()}">Word class</a>
            </div>
        </div>
        <script>
            $('#words-head').css('background-position', (shift - 200) + 'px 0px');
        </script>
        <div class="box column50" style="margin-right: 1%">
            <div class="box-head">
                Meanings
            </div>
            <div class="box-body">
                <ul class="meanings">
                    <div th:each="meaning : ${meanings}">
                        <li>
                            <a
                                    th:text="${meaning.getCapitalizedValue()}"
                                    th:href="${'/words/wordInfo?language='+meaning.getLanguage().getName()+'&value='+meaning.getValue()}">
                            </a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
        <div class="box column50">
            <div class="box-head">
                Collections
            </div>
            <div class="box-body">
                <ul class="meanings">
                    <div th:each="collection : ${collections}">
                        <li>
                            <a
                                    th:text="${collection.getCollectionName()}"
                                    th:href="${'/collections/collectionInfo?collectionName='+collection.getCollectionName()}">
                            </a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>