<!DOCTYPE html>
<html lang="en">
    head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!--<spring:url value="css/celloperwebstyle.css" var="celloperwebstyle"/>-->
    <link href="${celloperwebstyle}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <title>Welcome to operator</title>

    </head>
    <body onload="window.location.href='/registration/clogin'">

    </body>
</html>