<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>index</title>
    </head>
    <body onload="window.location.href='/loginPage'">
        <!--<a th:href="@{/words}">Words</a><br>
        <a th:href="@{/collections}">Collections</a><br>
        <a th:href="@{/languages}">Languages</a><br>
        <a th:href="@{/user}">Go to the all users page</a><br>
        <a th:href="@{/protected}">Go to the protected page</a><br>
        <a th:href="@{/confidential}">Go to the confidential page</a><br>-->

    </body>
</html>