<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>new login</title>
        <link rel="stylesheet" type="text/css" th:href="@{/resources/css/base.css}"/>
    </head>
    <body>
        <a th:href="@{/newlogin}">login url</a>

        <form action="${loginUrl}" method="post">
            <!--<th:block th::if="${param.error} != null">
                <p>
                    Invalid username and password.
                </p>
            </th:block>

            <th:block th::if="${param.logout}!= null">
                <p>
                    You have been logged out.
                </p>
            </th:block>-->

            <p class="cite">
                Very custom login page<br>
            </p>
            <hr>
            <p>
                <label for="username">Username</label>
                <input type="text" id="username" name="username"/>
                <br>
                <label for="password">Password</label>
                <input type="password" id="password" name="password"/>
            </p>

            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <button type="submit" class="btn">Log in</button>
        </form>

    </body>
</html>