<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <!-- Properties section -->
    <Properties>
        <Property name="parsing_all">logs\parsing-all.log</Property>
        <Property name="parsing_errors">logs\parsing-errors.log</Property>
        <Property name="parsing_trace">logs\parsing-trace.log</Property>
    </Properties>

    <!-- Appenders section -->
    <Appenders>
        <!-- console appender -->
        <Console name="console_appender_all" target="SYSTEM_OUT">
            <!--%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - -->
            <PatternLayout pattern="%msg%n"/>
        </Console>

        <!-- File appender for com.sschudakov.parsing all-->
        <RollingFile name="parsing_appender_all" fileName="${parsing_all}"
                     filePattern="logs/arch/arch_parsing_all-%d{MM-dd-yyyy_HH}-%i.gz"
                     append="true">
            <PatternLayout>
                <Pattern><!--%d [%marker] %p %c{1.} [%t]--> %m %ex%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="6" modulate="true"/>
            </Policies>
            <Policies>
                <SizeBasedTriggeringPolicy size="1000000"/>
            </Policies>
        </RollingFile>

        <!-- File appender of for com.sschudakov.parsing errors -->
        <RollingFile name="parsing_appender_errors" fileName="${parsing_errors}"
                     filePattern="logs/arch/arch_parsing_errors-%d{MM-dd-yyyy_HH}-%i.gz"
                     append="true">
            <PatternLayout>
                <Pattern><!--%d [%marker] %p %c{1.} [%t]--> %m %ex%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="1000000"/>
            </Policies>
        </RollingFile>

        <RollingFile name="parsing_appender_trace" fileName="${parsing_trace}"
                     filePattern="logs/arch/arch_parsing_trace-%d{MM-dd-yyyy_HH}-%i.gz"
                     append="true">
            <PatternLayout>
                <Pattern><!--%d [%marker] %p %c{1.} [%t]--> %m %ex%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="1000000"/>
            </Policies>
        </RollingFile>

    </Appenders>

    <!-- Loggers section -->
    <Loggers>

        <!-- Root logger -->
        <Root level="FATAL">
            <AppenderRef ref="console_appender_all"/>
        </Root>
        <!-- com.sschudakov.parsing logger -->
        <Logger name="com.sschudakov.parsing_logger" additivity="TRUE" level="ALL">
            <AppenderRef ref="parsing_appender_all" level="ALL"/>
            <AppenderRef ref="parsing_appender_errors" level="ERROR"/>
            <AppenderRef ref="parsing_appender_trace" level="TRACE"/>
        </Logger>

    </Loggers>
</Configuration>